ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    overflow: hidden;
    background-color: #333;
}

li {
    float: center;
}

li.right {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: green;
    height: 100%;
}


img {
    height: 46px;
    z-index: 100;
}

@media (max-width : 560px) {
    ul {
        list-style-type: none;
        margin: 0;
        display: block;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        display: block;
    }
    
    li a {
        display: block;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    /* Change the link color to #111 (black) on hover */
    li a:hover {
        background-color: green;
        height: 100%;
    }
    
    
    img {
        height: 46px;
        z-index: 100;
    }
}
