.btm-margin-small {
    margin-bottom: 10px !important;
}

.btm-margin-medium {
    margin-bottom: 20px !important; 
}

.btm-margin-small {
    margin-bottom: 30px;
}

.btm-margin-none {
    margin-bottom: 0 !important;
}


.right-margin-small {
    margin-right: 10px;
}

.right-margin-medium {
    margin-right: 20px;
}

.right-margin-large {
    margin-right: 30px;
}

.right-margin-none {
    margin-right: 0 !important;
}


.left-margin-small {
    margin-left: 10px;
}

.left-margin-medium {
    margin-left: 20px;
}

.left-margin-large {
    margin-left: 30px;
}

.left-margin-none {
    margin-left: 0 !important;
}

.top-margin-none {
    margin-top: 0 !important;
}

.top-margin-small {
    margin-top: 10px !important;
}

.top-margin-medium {
    margin-top: 20px !important;
}

.top-margin-smaller {
    margin-top: 5px;
}