.flex-button {
    display: block;
    width: 100%;
    border: none;
    background-color: #007FAA;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    bottom: 0;
}

.flex-button:hover {
    background-color: #ddd;
    color: black;
}